<launch>
  <node name="um_ardrone" pkg="um_ardrone" type="um_ardrone">
    <param name="broadcast_altitude" value="True" />
    <param name="broadcast_mag" value="True" />
    <param name="broadcast_tum_ekf" value="True" />
    <param name="map_tf_frame_id" value="um_map" />
    <param name="odom_tf_frame_id" value="um_odom" />
    <param name="base_link_tf_frame_id" value="um_base_link" />
  </node>
</launch>
